[Desktop Entry]
Type=Application
Version=1.1
Name=Serial2Cmd
# A comment which can/will be used as a tooltip
Comment=Map input from serial ports to bash commands
# The path to the folder in which the executable is run
# Path=/opt/jmemorise
Exec=serial2cmd
Icon=serial2cmd
Categories=Utility;
